:root {
	--mobile: 320px;
	--tablet: 820px;
	--desktop: 1920px;

	--color-text: #2b2b2b;

	--color-black: #000;
	--color-blue: #2672ff;
	--color-line: #9a9b9c;
}


body {
	font-family: Roboto;
	font-size: 1rem;
	margin: 0 auto;
  padding: 0;
	color: var(--color-text);
}

.page__body {
	max-width: var(--desktop);
	min-width: var(--mobile);
}

.header {
	margin-bottom: 50px;
	padding-top: 10px;
	padding-inline: 10%;
}

.header__title {
	padding-bottom: 10px;
	border-bottom: 2px solid var(--color-line);
	font-size: 2.5rem;
	font-weight: 900;
}

.index__page {
	padding-inline: 10%;
}

.bayan__list {
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
}

.bayan__list:hover .bayan__title{
	color: var(--color-black);
}

.bayan__status{
		transition: all 0.3s ease;
}

.bayan__list:hover .bayan__status::before{
	content: '';
	width: 20px;
	height: 6px;
	position: absolute;
	transform: rotate(90deg);
	border-radius: 4px;
	background-color: var(--color-black);
}

.bayan__list:hover .bayan__status::after{
	content: '';
	width: 20px;
	height: 6px;
	position: absolute;
	border-radius: 4px;
	background-color: var(--color-black);
}

.bayan {
	list-style: none;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid var(--color-line);
}


.bayan:last-child {
	display: none;
	border: none;
}

.bayan__item label{
	position: relative;
	display: grid;
	column-gap: 20px;
	row-gap: 25px;
	grid-template-columns: 5% 90% auto;
	grid-template-rows: auto auto;
	cursor: pointer;
}

.bayan__title {
	margin: 0;
	padding: 0;
	grid-column: 2 / 3;
	color: var(--color-blue);
	transition: all 0.3s ease;
}

.bayan__status {
	width: 25px;
	height: 25px;
		grid-column: 3 / 4;
	justify-self: center;
}

.bayan:hover .bayan__image {
	display: block;
}

.bayan__image {
	display: none;
	grid-column: 1 / -1;
	justify-self: center;
	transition: all 1s ease;

}

.bayan__radio {
	grid-column: 1 / 2;
	position: absolute;
  opacity: 0;
}

input:checked ~ .bayan__status{
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
}

input:checked ~ .bayan__image{
	display: block;
}